DATABASE_URL=postgresql://user:password@localhost:5432/kursu_db
SECRET_KEY=changeme
EMAIL_PEPPER_KEY=changemetoo
HF_API_TOKEN=replace_with_your_hf_token
HF_MODEL_URL=https://router.huggingface.co/hf-inference/models/unitary/toxic-bert