DATABASE_URL=postgresql://user:password@localhost:5432/kursu_db
SECRET_KEY=changeme
EMAIL_PEPPER_KEY=changemetoo
HF_API_TOKEN=your_huggingface_token_here
HF_MODEL_URL=https://api-inference.huggingface.co/models/savasy/bert-base-turkish-sentiment-cased