fastapi==0.139.2
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pydantic[email]
requests
slowapi==0.1.10
httpx>=0.24.0